body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}

.container {
    font-size: 10px;
    width: 80em;
    height: 80em;
    position: relative;
}

.sun {
    position: absolute;
    top: 30em;
    left: 30em;
    width: 10em;
    height: 10em;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0 0 3em white;
}

.earth, .moon, .mercury, .venus, .mars, .jupiter, .saturn, .uranus, .neptune {
    position: absolute;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
}

.earth::before,
.moon::before,
.mercury::before,
.venus::before,
.mars::before,
.jupiter::before,
.saturn::before,
.uranus::before,
.neptune::before {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.mercury {
    top: 25em;
    left: 25em;
    width: 20em;
    height: 20em;
    animation: orbit 2s linear infinite;
}.mercury::before {
    top: 2.8em;
    right: 2.6em;
    width: 0.4em;
    height: 0.4em;
    background-color: rgb(122, 49, 9);
}

.venus {
    top: 20em;
    left: 20em;
    width: 30em;
    height: 30em;
    animation: orbit 4s linear infinite;
}.venus::before {
    top: 4.0em;
    right: 3.8em;
    width: 1em;
    height: 1em;
    background-color: rgb(220, 103, 31);
}


.earth {
    top: 15em;
    left: 15em;
    width: 40em;
    height: 40em;
    animation: orbit 6s linear infinite;
}
.earth::before {
    top: 5.4em;
    right: 5.2em;
    width: 1em;
    height: 1em;
    background-color: aqua;
}

.moon {
    top: 38px;
    right: 37px;
    width: 4em;
    height: 4em;
    animation: orbit 8s linear infinite;
}
.moon::before {
    top: 0.3em;
    right: 0.3em;
    width: 0.4em;
    height: 0.4em;
    background-color: silver;
}



.mars {
    top: 10em;
    left: 10em;
    width: 50em;
    height: 50em;
    animation: orbit 10s linear infinite;
}.mars::before {
    top: 6.8em;
    right: 7.2em;
    width: 0.6em;
    height: 0.6em;
    background-color: rgb(195, 86, 86);
}

.jupiter {
    top:-1em;
    left: -2em;
    width: 70em;
    height: 70em;
    animation: orbit 12s linear infinite;
}.jupiter::before {
    top: 8.8em;
    right: 7.8em;
    width: 4em;
    height: 4em;
    background-color: rgb(208, 168, 119);
}

.saturn {
    top: -8em;
    left: -10em;
    width: 90em;
    height: 90em;
    animation: orbit 14s linear infinite;
}.saturn::before {
    top: 11.5em;
    right: 11.6em;
    width: 3.5em;
    height: 3.5em;
    background-color: rgb(251, 189, 102);
}

.uranus {
    top: -17em;
    left: -19em;
    width: 110em;
    height: 110em;
    animation: orbit 16s linear infinite;
}.uranus::before {
    top: 15.8em;
    right: 13.8em;
    width: 2.7em;
    height: 2.7em;
    background-color: rgb(10, 141, 255);
}

.neptune {
    top: -26em;
    left: -31em;
    width: 130em;
    height: 130em;
    animation: orbit 18s linear infinite;
}.neptune::before {
    top: 18.8em;
    right: 16.8em;
    width: 2.7em;
    height: 2.7em;
    background-color: rgb(0, 159, 212);
}

@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}